a{ text-decoration:none; color:#000;}
.saito-code-box{ width:320px; height:200px; position:fixed;top:40%;left:6%; border:1px #000 solid; border-radius:5px;background-color: white;}
.saito-close-box{font-size:35px; float:right;margin-top:-5px; margin-right:2px; font-family:"Microsoft YaHei"; }
.saito-lab-box{margin-top:20%;padding-left:30px;}
.saito-lab-box label{width:20%; }
.saito-lab-box label img{vertical-align:middle;margin-right:5px;}
.saito-lab-box input{width:30%; padding:10px 0;margin:0 5px; border:1px #000 solid; outline-style:none;}
.saito-btn-box{margin-top:20px; text-align:center;}
.saito-code-btn-z01{font-size:20px; line-height:50px;width:200px; background:#F00; color:#fff; border-radius:5px; border-style:none;}
.saito-media screen and (min-width: 0) and (max-width: 640px){
.saito-code-box{ width:320px; height:180px; position:fixed;top:35%;left:8%;background-color: white; }